---
import MainLayout from "../../layouts/main.astro";
import Map from "../../components/Map.astro";
import { pageMetadata, contact, contactContent, businessInfo } from "@/assets/redcow/content/data";
---
<style>
  .contact-heading .section-inner {
    display: grid;
    gap: 2rem;
    
    h1 {
      width: fit-content;
      border-bottom: 2px solid var(--primary);
      margin-bottom: 2rem;
      color: var(--primary);
      font-weight: normal;
    }
  }

  @media screen and (min-width: 768px){
    .contact-heading .section-inner {
      grid-template-columns: 1fr 1fr;
    }
  }

  .address {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 4rem;
  }

  .telephone {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-family: 'SecondaryFont';
    color: var(--grey-darker);
  }

  .tel-text {
    margin-top: 0px;
    color: var(--grey-darker);
  }

  .email {
    font-size: 1.5rem;
    color: var(--grey-darker);
    border-bottom: 1px solid var(--grey-darker);
  }

  @media screen and (min-width: 768px){
    .address {
      font-size: 4rem;
    }
    .telephone, .email {
      font-size: 2rem;
    }
  }

</style>

<MainLayout content={pageMetadata.contact}>
  <div class="page-container">
    <section class="contact-heading">
      <div class="section-inner">
        <div>
          <h1>{contactContent.heading}</h1>
          <p class="address">{businessInfo.name},<br /> {contact.address.street},<br /> {contact.address.town}<br /> <span style="font-weight: 600;">{contact.address.postcode}</span></p>
          <a href={`tel:${contact.phone}`} class="telephone">+44 (0){contact.phoneFormatted}</a>
          <p class="tel-text">{contactContent.phoneNote}</p>
          <a href={`mailto:${contact.email}`} class="email">{contact.email}</a>
          <p>{contactContent.parkingNote}</p>
        </div>
        <div>
          <Map source={businessInfo.mapEmbedUrl} />
        </div>
      </div>
    </section>
  </div>