---
import MainLayout from "../layouts/main.astro";
import FeatureImage from "../components/FeatureImage.astro";
import Separator from "../components/Separator.astro";
import AboutSection from "../components/AboutSection.astro";
import TwoImageSection from "../components/TwoImageSection.astro";
import WelcomeQuoteSection from "../components/QuoteSection.astro";
import ReservationsBanner from "../components/ReservationsBanner.astro";
import { pageMetadata, quotes, homeContent, businessInfo } from "@/assets/redcow/content/data";

import featureImage from "@brand/images/home-feature-image.jpg";
import imageOne from "@brand/images/home-two-image-section-1.jpg";
import imageTwo from "@brand/images/home-two-image-section-2.jpg";

const twoImageSectionCards = [
  {
    ...homeContent.menuCard,
    image: imageOne,
  },
  {
    ...homeContent.roomsCard,
    image: imageTwo,
  }
];

---
<MainLayout content={pageMetadata.home} transparentNavigation={true}>
  <FeatureImage image={featureImage} links={homeContent.featureLinks} title={businessInfo.tagline} />
  <div>
    <WelcomeQuoteSection quote={quotes.home} />
    <Separator />
    <TwoImageSection cards={twoImageSectionCards} />
    <Separator />
    <AboutSection />
  </div>
</MainLayout>
