---
import MainLayout from "../../layouts/main.astro";
import TwoImageSection from "../../components/TwoImageSection.astro";
import Separator from "../../components/Separator.astro";
import RoomsQuoteSection from "../../components/QuoteSection.astro";
import FeatureImage from "../../components/FeatureImage.astro";
import { pageMetadata, quotes, rooms } from "@/assets/redcow/content/data";

import roomsImage from "@brand/images/rooms-feature-image.jpg";
import roomOneImage from "@brand/images/room-1.jpg";
import roomTwoImage from "@brand/images/room-2.jpg";
import roomThreeImage from "@brand/images/room-3.jpg";
import roomFourImage from "@brand/images/room-4.jpg";

const roomImages = [roomOneImage, roomTwoImage, roomThreeImage, roomFourImage];

const displayedRooms = rooms.filter(room => room.name !== "Any");

const roomCards = displayedRooms.map((room, index) => ({
  title: room.name,
  description: room.description,
  image: roomImages[index],
  imageAlt: `${room.name} Room`,
  primaryButton: {
    text: "Book Room",
    href: "/rooms/book"
  }
}));

const roomCardsRow1 = roomCards.slice(0, 2);
const roomCardsRow2 = roomCards.slice(2, 4);

---
<MainLayout content={pageMetadata.rooms} transparentNavigation={true}>
  <FeatureImage title="Rooms" text="At The Red Cow" image={roomsImage} />
  <div class="page-container">
    <RoomsQuoteSection quote={quotes.rooms} />
    <Separator />
    <TwoImageSection cards={roomCardsRow1} />
    <TwoImageSection cards={roomCardsRow2} />
  </div>
</MainLayout>
