---
import FeatureImage from "../../components/FeatureImage.astro";
import MainLayout from "../../layouts/main.astro";
import { pageMetadata, eventsContent, contact } from "@/assets/redcow/content/data";

import eventsFeatureImage from "@brand/images/rooms-feature-image.jpg";
---
<style>
  a {
    border-bottom: 1px solid var(--foreground);
    &:hover {
      color: var(--primary);
      border-bottom: 1px solid var(--primary);
    }
  }
  
</style>

<MainLayout content={pageMetadata.events} transparentNavigation="true">
  <FeatureImage title={eventsContent.featureTitle} text={eventsContent.featureText} image={eventsFeatureImage} />
  <div class="page-container">
    <section class="about-heading">
      <div class="section-inner">
        <div>
          <h1>{eventsContent.heading}</h1>
          <p>{eventsContent.description}</p>
          <p>To discuss in more detail, please contact us on <a href={`tel:${contact.secondaryPhone}`}>{contact.secondaryPhoneFormatted}</a> or email us at <a href={`mailto:${contact.email}`}>{contact.email}</a></p>
        </div>
      </div>
    </section>
  </div>